.fondoHeader{
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-position: center;
    background-attachment: fixed;
    
}
.LogoNavBar{
    height: 100px;
}
.navLi{
    list-style: none;
}
.listStyle{
    color: rgba(64, 62, 62, 0.768);
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 5px;
}
.imgheader{
    height: auto;
}
.header{
    height: 100vh;
}
.infoMain{
    display: flex;
    flex-direction: row; 
}
.carousel{
    margin-bottom: 4rem
}
.rowx{
    display: flex;
    flex-direction: row;
    justify-content: justify;
    margin-bottom: 0;
    background-color: rgba(171, 165, 165, 0.503);
}
.h2Main{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
@media (max-width: 992px){
    .rowx{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .h2Main{
        display: none;
    }
    .section1{
        display: none;
    }
    .divMain{
        margin-top: 250px;
    }
    .divsCombos{
        margin-left: 50%;
        margin-top: 100px;
    }
    .divProductos{
        margin-top: 250px;
    }    
}  
@media (min-with: 993){
    .rowx{
        display: flex;
        flex-direction: row;
        justify-content: justify;
    }
    .divMain{
        height: 900px;
    }
}
.textoMain{
    text-align: center;
    margin-top: 4%;
    padding-left: 5px;
    padding-right: 5px;
}
.section1{
    background-color: rgba(171, 165, 165, 0.503);
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
}
.imagenMain{
    height: 250px;
}
.imagenCards{
    size: cover;
    height: 200px;
}
.divMain{
    text-align: center;
    margin-bottom: 30px;
}

.cards{
    color: rgba(0, 0, 0, 0.519);
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 5px;
    margin-left: 5px;
    
}
.contenedorCard{
    height: 295px;
}
.footer{
    background-color: rgba(171, 165, 165, 0.503);
    display: flex;
    flex-direction: row;
    height: 200px;
}
.divFooter{
    width: 55px;
    margin-left: 25px;
    margin-bottom: 10px;
    padding-top: 20px;
}
.icon{
    font-size: 2rem;
    margin-bottom: 10px;
    color: black;
}
.pFooter{
    margin-top: 65px;
    margin-left: 100px;
    
}
.conteinerImgProductos img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}
.divProductos{
    margin-bottom: 30PX;
    text-align: center;
}
.divsCombos{
    margin-left: 250px;
}
.contenedorCombos{
    background-color:rgba(171, 165, 165, 0.503);
    margin-bottom: 20px;
}
