@import url("https://fonts.googleapis.com/css2?family=Inder&family=Merriweather+Sans:wght@300;600&family=Montserrat:wght@200;400;600&display=swap");
.header {
  height: 150px;
  background-color: rgba(171, 165, 165, 0.5019607843);
  display: flex;
  margin-bottom: 50px;
}
.header .LogoNavBar {
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}
.header .rowx {
  display: flex;
  flex-direction: row;
  justify-content: justify;
  margin-bottom: 0;
  margin-top: 50px;
  margin-left: 170px;
}
.header .rowx .navLi {
  list-style: none;
}
.header .rowx .navLi .listStyle {
  color: rgba(64, 62, 62, 0.768);
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 50px;
}
.header .fondoHeader {
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  background-position: center;
  background-attachment: fixed;
}
.header .fondoHeader .carousel {
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.header .fondoHeader .imgheader {
  height: auto;
}

.headerBurguer {
  background-color: rgba(171, 165, 165, 0.5019607843);
}
.headerBurguer .LogoBurguer {
  height: 70px;
}

@media (max-width: 992px) {
  .header {
    display: none;
  }
  .rowx {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (min-with: 993) {
  .rowx {
    display: flex;
    flex-direction: row;
    justify-content: justify;
  }
}
.main .titulo {
  font-family: "Montserrat";
  font-weight: 400;
}
.main .h2Main {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .infoMain {
  display: flex;
  flex-direction: row;
}
.main .section1 {
  background-color: rgba(171, 165, 165, 0.5019607843);
  text-align: center;
  margin-top: 0;
  margin-bottom: 100px;
}
.main .section1 .imagenMain {
  height: 250px;
}
.main .section1 .textoMain {
  text-align: center;
  margin-top: 1%;
  padding-left: 5px;
  padding-right: 5px;
}
.main .section1 .textoMain .texto {
  font-family: "Inder";
  font-weight: 400;
}
.main .section1 .textoMain .subtitulo {
  font-family: "Merriweather Sans";
  font-weight: 600;
}
.main .divMain {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}
.main .divMain .cards {
  height: 350px;
  width: 20%;
  color: rgba(0, 0, 0, 0.519);
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 70px;
  margin-left: 70px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.main .divMain .cards .contenedorCard {
  height: 179px;
}

@media (max-width: 992px) {
  .main .h2Main {
    display: none;
  }
  .main .section1 {
    display: none;
  }
  .divMain {
    margin-top: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .divMain .cards {
    display: flex;
  }
}
@media (min-with: 993) {
  .divMain {
    height: auto;
    flex-wrap: wrap;
  }
}
.divProductos {
  display: flex;
  flex-direction: row;
  background-color: rgba(171, 165, 165, 0.5019607843);
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  text-align: center;
}
.divProductos .conteinerImgProductos img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .divProductos {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}
.contenedorCombos {
  display: flex;
  flex-direction: column;
  background-color: rgba(171, 165, 165, 0.5019607843);
  margin-bottom: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.contenedorCombos .imgCombos {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.contenedorCombos .pCombos {
  margin-top: 5px;
}
.contenedorCombos .pCombos .fuente {
  font-family: "Merriweather Sans";
}
.contenedorCombos .pCombos .fuenteDos {
  font-family: "Inder";
}

@media (max-width: 992px) {
  .divsCombos {
    margin-left: 50%;
    margin-top: 100px;
  }
}
.bg-color {
  display: flex;
  flex-direction: column;
  background-color: rgba(171, 165, 165, 0.5019607843) !important;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bg-color .logoNosotros {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 80px;
}
.bg-color .fuenteDos {
  font-family: "Inder";
}

.bg-primario {
  background-color: rgba(171, 165, 165, 0.5019607843);
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bg-primario .divForm {
  width: 60%;
}
.bg-primario .Imput {
  margin-left: 10px;
  margin-right: 20px;
}

.footer {
  background-color: rgba(171, 165, 165, 0.5019607843);
  display: flex;
  flex-direction: row;
  height: 200px;
}
.footer .divFooter {
  width: 55px;
  margin-left: 25px;
  margin-bottom: 10px;
  padding-top: 20px;
}
.footer .divFooter .icon {
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
}
.footer .pFooter {
  margin-top: 65px;
  margin-left: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=estilos.css.map */