.divProductos{
    background-color: $color-primario;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    .conteinerImgProductos img{
        height: 250px;
        width: 250px;
        object-fit: cover;
        margin-top: 10px;
        margin-bottom: 10px; 
    }
}
@media (max-width: 992px){
    .divProductos{
       margin-top: 100px;      
    }  
}