.titulo{
    font-family: map-get($mapa-fuentes, fuente-titulo);
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
}
.divProductos{
    @include contenedoflexible(row);
    background-color: $color-primario;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    text-align: center;
    .conteinerImgProductos img{
        height: 250px;
        width: 250px;
        object-fit: cover;
        margin-top: 10px;
        margin-bottom: 10px; 
        border-radius: 2%;
    }
}
@media (max-width: 992px){
    .divProductos{
       margin-top: 100px;
       @include contenedoflexible(row);
       flex-wrap: wrap;
       text-align: center;
       justify-content: center;
    }  
}