.contenedorCombos{
    @include contenedoflexible(column);
    background-color:$color-primario;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
    .imgCombos{
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .pCombos{
        margin-top: 5px;
        .fuente{
            font-family: map-get($mapa-fuentes, fuente-subtitulo);
        }
        .fuenteDos{
            font-family: map-get($mapa-fuentes, fuente-texto);
        }
    }
}
@media (max-width: 992px){
    .divsCombos{
        margin-left: 50%;
        margin-top: 100px;
    }  
} 