.titulo{
    font-family: map-get($mapa-fuentes, fuente-titulo);
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
}
.texto{
    font-family: map-get($mapa-fuentes, fuente-texto);
    font-weight: 400;
    text-align: left;
    display: flex;
    justify-content: center
}
.contenedorCombos{
    @include contenedoflexible(column);
    background-color:$color-primario;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
    .cardsCombos{
        background-color: $color-gradiente;
    }
    .imgCombos{
        margin-top: 10px;
        margin-left: 52px;
        margin-bottom: 10px;
    }
    .pCombos{
        margin-top: 20px;
        .fuente{
            font-family: map-get($mapa-fuentes, fuente-subtitulo);
        }
        .fuenteDos{
            font-family: map-get($mapa-fuentes, fuente-texto);
        }
    }
}
.videoCombos{
    width: 80%;
    border-radius: 2%;
}
@media (max-width: 992px){
    .contenedorCombos .imgCombos{
        max-width: 40%;
        display: flex;
        margin-left: 0;
    }
    .divsCombos{
        margin-left: 50%;
        margin-top: 100px;
    }
} 