.main{
    .titulo{
        font-family: map-get($mapa-fuentes, fuente-titulo);
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .infoMain{
        display: flex;
        flex-direction: row;
    }
    .section1{
        background-color: $color-primario;
        text-align: center;
        margin-top: 0;
        margin-bottom: 100px;
        .imagenMain{
            height: 250px;
        }
        .textoMain{
            text-align: center;
            margin-top: 1%;
            padding-left: 5px;
            padding-right: 5px;
            .texto{
                font-family: map-get($mapa-fuentes, fuente-texto);
                font-weight: 400;
                text-align: left;
            }
            .subtitulo{
                font-family: map-get($mapa-fuentes, fuente-subtitulo);
                font-weight: 600;
            }
        }
    }
    .divResponsiv{
        color: #fff;
        background-image: url(../assets/img/camara_blancoynegro.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 30px;
    }
    .divMain{
        text-align: center;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        .cards{
            height: 350px;
            width: 20%;
            color: rgba(0, 0, 0, 0.519);
            text-decoration: none;
            font-size: 1.2rem;
            margin-right: 70px;
            margin-left: 70px;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
            filter: grayscale(1);
            .divCards{
                width: 100%;
                height: auto;
            }
        }
        .hover:hover{
            filter: grayscale(0);
            transition: all 0.3s;
        }
    }   
}
@media (max-width: 992px){
    .main .h2Main{
        display: none;
    }
    .main .section1{
        display: none;
    }
    .divMain{
        flex-direction: column;
        margin-top: 50px;
        .cards{
          width: 300px;
          height: auto;
        }
    }     
}
@media (min-width: 993px){
    .main .divResponsiv{
        display: none;
    }
    .main .divMain{
        height: auto;
    }
}