.bg-color{
    @include contenedoflexible(column);
    background-color: $color-primario !important; 
    justify-content: center;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .logoNosotros{
        margin-top: 25px;
        margin-bottom: 25px;
        height: 80px;
    }
    .fuenteDos{
        font-family: map-get($mapa-fuentes, fuente-texto );
    }
}