.bg-primario{
    background-color: $color-primario;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .divForm{
        width: 60%;
    }
    .Imput{
        margin-left: 10px;
        margin-right: 20px;
        
    }
}